html,
body {
    height: 100vh;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    background-color: #ffffff;
}

.debugwindow {
    position: fixed;
    background-color: #ffffff;
    right: 30px;
    top: 100px;
    width: 300px;
    height: 220px;
    border: 2px solid #ff652f;
    z-index: 10000;
    overflow: scroll;
}

.main-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 280px auto 280px;
}


/*
left column
*/

.calendar-container {
    /*height: 100%;*/
    overflow-y: scroll;
}

.calendar-month {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.calendar-monthname {
    margin-top: 16px;
    margin-bottom: 6px;
    font-size: larger;
    text-align: center;
}

.calendar-dayname {
    color: #707075;
    text-align: center;
    align-self: flex-end;
}

.calendar-day {
    position: relative;
    height: 32px;
    border: 1px solid #eef0f1;
    padding: 2px;
    cursor: pointer;
    font-size: smaller;
    overflow: hidden;
}

.calendar-day-selected {
    border: 2px solid #000000;
    padding: 1px;
    font-weight: bolder;
}

.calendar-linkspanner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.calendar-daynumber {
    position: relative;
    z-index: 1;
}

.calendar-traffic-bar {
    position: absolute;
    background-color: #89c9f3;
    width: 7px;
    left: 23px;
    /*
    left: 0px;
    right: 0px;
    */
    bottom: 1px;
    z-index: 0;
}

.calendar-day:hover {
    background-color: #eef0f1;
}


/*
center column
*/

.center-container {
    display: flex;
    flex-flow: column nowrap;
}

.map-container {
    flex-grow: 1;
    position: relative;
    height: 100%;
}

#map {
    height: 100%;
}

#timeline-container {
    width: 100%;
    height: 120px;
    align-self: end;
    display: grid;
    position: relative;
    grid-template-rows: auto 32px;
    overflow-x: scroll;
    overflow-y: hidden;
}

#timeline-cursor {
    position: absolute;
    left: -50px;
    top: 0px;
    border-left: 2px solid #00000070;
    height: 100px;
    width: 2px;
    margin: 0px 0px;
    padding: 0px;
    z-index: 3;
}

#timeline-cursor-text {
    position: absolute;
    left: -50px;
    top: 85px;
    padding: 1px 2px;
    border: 2px solid #000000;
    background-color: #ffffff;
    z-index: 4;
    font-size: 9pt;
}

.timeline-item {
    /*border: 2px solid #ff652f;*/
    position: relative;
}

.scale-item-bar {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    /*background: linear-gradient(90deg, rgba(120, 125, 130, 1) 0%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 1) 80%, rgba(120, 125, 130, 1) 100%);*/
}

.scale-item-item {
    display: grid;
    align-items: center;
    justify-items: center;
    font-size: 9pt;
    align-content: start;
}

.scale-number {
    margin: 0px;
    padding: 0px;
}

.hour-tick-line {
    border-left: 1px solid #303030;
    height: 10px;
    margin: 0px 4px;
    padding: 0px;
}

.marker {
    position: absolute;
    border-radius: 3px;
    /*background-color: #89c9f3a0; */
    background-color: rgba(137, 201, 243, 0.66);
    /* border: 1px solid #72a7caa0; */
    border: 1px solid rgba(114, 167, 202, 0.66);
    top: 6px;
    height: 10px;
}

.marker-selected {
    background-color: #3da2e9;
    border: 1px solid #226697;
}

.marker a {
    display: block;
    position: relative;
    top: -2px;
    left: -2px;
    width: 100%;
    height: 100%;
    padding: 2px;
}

.marker-linkspanner {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.marker:hover {
    /*background-color: #4693c7; */
    border: 2px solid #4693c7;
}


/*
right column
*/

.right-container {
    display: flex;
    flex-flow: column nowrap;
    /*grid-template-rows: auto auto;*/
}

.acinfo {
    padding: 60px 16px;
}

.acinfo-inner {
    border: 1px solid #000000;
    padding-bottom: 6px;
}

.acheader {
    background-color: #3da2e9;
    padding: 4px 8px;
}

.targetid {
    font-size: large;
    font-weight: bolder;
}

.targetadr {
    font-size: smaller;
    padding-left: 1em;
}

.acinfoline {
    padding: 6px 8px;
}

.footer {
    font-size: small;
    margin-top: auto;
    margin-bottom: 1px;
}